html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    background-image: url('../src/images/back1.png');
    background-position: bottom;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position-x: right;
}

.layout {
    display: grid;
    gap: 4px;
    grid-template-rows: 40px 40px auto 60px 60px 40px;
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'sidebar' 'back''main-content' 'footer';
    height: 100vh;
}
  
.body {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      position: fixed;
}
  
.logo {
  text-align:  center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  width: 247px;
  height: 250px;
  background-color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 10px;
  background-image: url('src/images/easyrent\(1\).jpg');
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
}
  
.sidebar {
      position: fixed;
      background-color:rgb(251, 251, 243);
      left: 0;
      top: 0;
      width: 250px;
      height: 100%;
      color: #503000;
      z-index: 100;
      flex-direction: column;
      display: flex;
      overflow-x: hidden;
      box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.5);
  }
  
  @media (max-height: 850px) {
      .sidebar {
          max-height: 100vh;
          overflow-y: auto;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      }
}
  
#back{
      padding-left: 100px; 
      position: relative;
}
  
.orange-square {
      background-color: orange;
      padding-top: 10px;
      padding-bottom: 20px;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      color: white;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
  
.orange-square ul {
      list-style-type: none;
      padding-left: 0;
      text-align: center;
      font-size: 12px;
}
  
.orange-square li a:hover {
      color: #ff9900;
}

  
.sidebar .logo {
      align-items: center;
      margin-top: 50px;
}
  
.sidebar .nav-links ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      padding-top: 10px;
      padding-bottom: 90px;
      margin-top: 10px;
}
  
.sidebar .nav-links {
      
      flex-direction: column;
      justify-content: center;
      height: 50%;
      margin-top: 50px;
}
  
.sidebar .nav-links li a {
      display: block;
      color: #503000;
      margin-top: 5px;
      font-weight: bold;
      font-size: clamp(12px, 4vw, 17px);
      text-decoration: none;
      transition: background-color 0.3s;
      text-align: center;
}
  
.sidebar .nav-links li a:hover {
      color: #ff9900;
}  

.nav-links {
      flex-grow: 1;
      margin-top: 0px;
}


.chat{

    width: 80%;
    height: 70vh;
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  
  }
.chat div:first-of-type{
  
    display: flex;
    flex-direction: column;
    height: 100%;
  
  }
.chat div:first-of-type p{
  
    width: fit-content;
    padding: 10px;
    border-radius: 200px;
  
  }
.chat div:first-of-type .Locador{
  
    align-self: flex-start;
    background-color: #ccc;
  
}
.chat div:first-of-type .Inquilino{
  
    align-self: flex-end;
    background-color: #bd7201;
    color: white;
}

.chat div:last-of-type {
  
    display: flex;
    gap: 1rem;
  
}

.chat div:last-of-type button {
    width: 8%;
    height: 5vh;
    border-radius: 4px;
    display: inline-block;
    margin-top: 4px;
}

button {
    background-color: #fd9801;
    color:#503000;
    font-weight: bolder;
    cursor: pointer;
    margin: 10px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
}

button:hover {
    background-color:  #503000;
    color: white;
}

input[type="text"]{
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

input[type="text"]:focus{
    background-color: #e8e8e8;
    outline: none;
}

#Sair {
    color:#503000;
    font-weight: 700;
    background-color:rgb(222, 221, 221);
    padding: 5px 40px;
    margin-left: 70px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

#Sair:hover {
    color:white;
    font-weight: 700;
    background-color:#503000;
    padding: 5px 40px;
    margin-left: 70px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.active-link {
    margin: 50px;
    text-decoration: underline;
    border-radius: 10px;
    margin-bottom: 0px;
text-align: center;
align-self: center;
background-color: rgba(247, 202, 80, 0.692);
}

.footer {
    position: fixed;
    width: 100%;
    padding-left: 70px;
    padding-top: 10px;
    justify-self: center;
    text-align: center;
    background-color:whitesmoke;
    color: gray;
    bottom: 0;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.3);
}